<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
<div class="container-fluid">
    <nav>
        <ul class="nav justify-content-end">
            {% if g.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <span class="nav-link">Hi, {{ g.user['username'] }}</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <section class="content">
        <div class="container">
            <header>
                {% block header %}{% endblock %}
            </header>
            <hr/>
            {% if get_flashed_messages() %}
            <div class="alert alert-danger">
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </section>
</div>
</body>
</html>