{% extends '_base.html' %}

{% block header %}
<h1>{% block title %}Movie Quiz{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <div class="mb-3">
        <a href="{{ url_for('quiz.create_quiz') }}" class="btn btn-primary">Take the movie quiz</a>
    </div>
    <div class="py-3">
        <h2 class="text-muted mb-3">Leaderboards</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Quiz #</th>
                <th scope="col">Score</th>
            </tr>
            </thead>
            <tbody>
            {% for lb in leaderboards %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ lb.username }}</td>
                <td>{{ lb.quiz_id }}</td>
                <td>{{ lb.score }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}