{% extends '_base.html' %}

{% block header %}
<h1>{% block title %}Movie Quiz{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <div class="mb-3">
        <a href="{{ url_for('quiz.create_quiz') }}" class="btn btn-primary">Take the movie quiz</a>
    </div>
    <div class="py-3">
        <h2 class="text-muted mb-3">Leaderboards</h2>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Quiz #</th>
                <th scope="col">Score</th>
            </tr>
            </thead>
            <tbody>
            {% for lb in leaderboards %}
            <tr>
                <th scope="row">{{ config.PAGE_SIZE * offset + loop.index }}</th>
                <td>{{ lb.username }}</td>
                <td>{{ lb.quiz_id }}</td>
                <td>{{ lb.score }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item {% if not offset %}disabled{% endif %}">
                    <a class="page-link" href="?page={{offset}}" tabindex="-1">Previous</a>
                </li>
                {% for t in range(total_pages) %}
                <li class="page-item {% if offset+1 == loop.index %}active{%endif%}">
                    <a class="page-link" href="?page={{loop.index}}">{{loop.index}}</a>
                </li>
                {% endfor %}
                <li class="page-item {%if total_pages-1 == offset%}disabled{%endif%}">
                    <a class="page-link" href="?page={{offset+2}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}